################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
*/bin
*/obj
/io.github.jtmaher2.musicrecorder.apk
/MusicRecorder.db3
/test.ogg
/test2.ogg
/MusicRecorderUWP/AppPackages
