################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
*/bin
*/obj
/io.github.jtmaher2.musicrecorder.apk
/MusicRecorder.db3
/*.ogg
/*.mp3
/*.flac
/*.opus
/MusicRecorderUWP/AppPackages
/MusicRecorder/SyncfusionLicense.txt
/MusicRecorder.Android/Resources
